
p{
    font-size: 20px;
    color: red;
}

#gruby_Skwiot{
    font-size: 17pt;
    font-weight: bold;
    color: green;
}
#dlaWszystkich {
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}
/* Jan Skwiot 29.05.2022 